.follow-con{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    margin-top: 2rem;
}

.edit_con{
    height: 70vh !important;
    overflow: auto;
    padding: 0 20px;
}

.alert-error{
    color: white !important;
    background-color: red !important;
    padding: 2px;
    font-size: 10px;
}
.text-danger{
    color: red;
}